<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="./index.css" rel="stylesheet">
  <title>Welcome page</title>
</head>
<body>

  <div style="font-size: 3.5rem; margin-left: 20px;">
    <div>Message</div>
    <div>Board</div> 
  </div>

  <div class="main_container">
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/logout">LOG OUT</a>
      <h3>Or</h3>
      <a href="/new">Post a message!</a>

      <% if(msg) {%>
        <% msg.forEach(item => {%>
        <div>
          <h3>
            <span style="font-size: 1rem"><%= item.username %></span>
            <span style="font-size: 2rem"><%= item.post_title %></span>  
          </h3>
          <div>
            <%= item.date %>
          </div>
          <h4>
            <%= item.post_body %>
          </h4>
        </div>
        <%})%>

      <% } %>


    <% } else { %>

      <div style="font-size: 2rem; margin: 20px 0;">
      <a href="/login" style="text-decoration: none;">Login </a>
      <span>/</span>
      <a href="/signup" style="text-decoration: none;"> Signup</a>
      </div>

      <% if(msg) {%>

        <% const masked_msg = msg.filter(m => m.post_body = '***Login to reveal the content***') %>
        <% masked_msg.forEach(item => {%>
          <li style="list-style: none;">
            <div style="font-size: 1.4rem; color: #2B2B2B;">
              <%= item.post_title %>
            </div>
            <div>
              <span style="font-weight: 900;"><%= item.username %></span>
              <span style="color: #767676;"><%= item.date %></span>  
            </div>
            <p>
              <%= item.post_body %>
            </p>
          </li>
        <%})%>

      <% } %>

    <%}%>
  </div>

  </body>
</html>